
.vscode/c_cpp_properties.json
.vscode/settings.json
bin/libmysql.dll
bin/server.exe
bin/static/1.js
bin/templates/test.html



build/.kateproject
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeDemo@build.kateproject
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-331303877e849930ee43.json
build/.cmake/api/v1/reply/cmakeFiles-v1-6261a055e1935fd1a99d.json
build/.cmake/api/v1/reply/codemodel-v2-35175736d9bc29f9858a.json
build/.cmake/api/v1/reply/index-2023-01-25T03-39-03-0386.json
build/.cmake/api/v1/reply/target-server-Debug-8bb06e90dfbfc42b8ef8.json
build/.cmake/api/v1/reply/toolchains-v1-318c5108d71ade0cb65d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/a.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/a.exe
build/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/a.exe
build/CMakeFiles/3.25.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Src/cmake_install.cmake
build/Src/CMakeFiles/server.dir/main.c.obj
build/Src/CMakeFiles/server.dir/model.c.obj
build/Src/CMakeFiles/server.dir/request.c.obj
build/Src/CMakeFiles/server.dir/response.c.obj
build/Src/CMakeFiles/server.dir/router.c.obj
build/Src/CMakeFiles/server.dir/server.c.obj
build/Src/CMakeFiles/server.dir/template.c.obj
build/Src/CMakeFiles/server.dir/utility.c.obj


lib/libmysql.dll
lib/libmysql.lib
include/mysql/mysql/client_plugin.h.pp
include/mysql/mysql/plugin_audit.h.pp
include/mysql/mysql/plugin_auth.h.pp
include/mysql/mysql/plugin_ftparser.h.pp
include/mysql/mysql/plugin_keyring.h.pp
include/mysql/mysql/services.h.pp
